h1.brand-heading {
	font-size: 55px !important;
}

.larger {
	font-size: 75px;
}

a,h1,p,h2 {
	color: #FFF5FF;
}

body {
	background: rgba(31,0,50,1);
}

#dogprom {
    background: url(../img/lk-dogprom.png) no-repeat;
    height: 225px;
    width: 300px;
    margin-right: 20px;
}

#dogprom:hover {
    background: url(../img/lk-dogprom.gif)  no-repeat;
}

#lifedrawing {
    background: url(../img/lifedrawing.png) no-repeat;
    height: 225px;
    width: 300px;
    margin-right: 20px;
}

#lifedrawing:hover {
    background: url(../img/lifedrawing.gif)  no-repeat;
}

#littlemonster {
    background: url(../img/littlemonster.png) no-repeat;
    height: 225px;
    width: 300px;
}


#littlemonster:hover {
    background: url(../img/littlemonster.gif)  no-repeat;
}

h3.portfolio {
	position: relative;
	top: 235px;
}

.grey {
	color: #bfb7bf !important;
}

.resume li {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: .5;
}

@media(min-width:767px) {
    .resume li {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: .6;
    }
}

.resume {
	color: rgba(31,0,50,0.9) !important;
}

.resume h2 {
	color: rgba(31,0,50,0.9) !important;
}

.resume p {
	color: rgba(31,0,50,0.9) !important;
}

#about {
	padding-top: 80px;
}

#contact {
	padding-top: 80px;
}